.sidebar {
    padding-top: 30px;
    padding-bottom: 20px;
    width: 370px;
    background-color: #16253c;
}

.myphoto {
    width: 250px;
    height: 250px;
    margin-left: 30px;
}

.title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.section {
    margin-left: 30px;
}

.contacts_list {
    list-style: none;
}