.main {
    width: 830px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
}

.position {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
}

.name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 25px;
    color: #FFFFFF;
    text-align: center;
}

.summary {
    margin-bottom: 40px;
}

.about_me {
    background-color: #16253c;
    padding-top: 40px;
    padding-bottom: 40px;
}

.mainpart {
    margin: 15px;
}


.projects_list {
    margin-left: 15px;
}

.experience {
    margin-top: 40px;
}

.experience_list {
    list-style: none;
}

.education {
    margin-top: 20px;
}

.education__list {
    list-style: none;
}

.title {
    color: #FB6D3A;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 15px;
    margin-bottom: 20px;
}